
#main-image{
    width:100% !important;
    
}
hr.style5 {
	background-color: #fff;
    border-top: 2px dashed #F26667;
    width: 70%;
    
    
}
hr.style6 {
	background-color: #fff;
    border-top: 3px dashed #F26667;
    
}
ul.post-meta-group {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.post-meta-group li {
    /*border-right: 1px dotted #e9e9e9;*/
    float: left;
    /*list-style: outside none none;*/
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}

.richtext img{
 
    width:100% !important; 
    height: auto;

}

.richtext table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.richtext th, td {
    text-align: left;
    padding: 8px;
    
}
.richtext tr:nth-child(even){background-color: #f2f2f2}

.ytp-cued-thumbnail-overlay{
    width:100% !important; 
    height: auto;
}
/* blog lists css */

